body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: seashell;
    /* background-color: #00b712;
background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%); */

}





.box {
    width: 500px;
    padding: 40px;
    position: relative;
    top: 20px;
    left: 420px;
    background:black;
    ;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    text-decoration: white;
    border-radius: 24px;
    transition: 0.25s;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* .box p{
    text-decoration: whitesmoke;
    font-weight: bold;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box h1 {
    text-decoration: whitesmoke;
    font-weight: bold;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box input[type="submit"]:hover {
    background: #2ecc71;
    
}

.forgot {
    text-decoration: underline
}



a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}



#vote{
    color: white;

    font-weight: bold;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#welcom{
    color: white;

    font-weight: bold;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
